/** Global **/
html, body, div {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  height: 100%;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;;
}

.snackBar{
  width: 6em !important;
  height: 5em !important;
}

