/* * {
  border: 1px solid black;
} */

.image-right{
  background-size: cover !important; 
  background-position: center !important;
  max-width: 100%; 
}

.image-right:before {
	content:'';
	position: absolute;
        top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.4);
}

.center{
  position: absolute;
  height: auto;
  top: 50%;
  left: 80%;
  transform: translate(-80%, -50%);
}

.div-center {
  height: 50%;
}

.div-top {
  height: 20%;
}

.div-bottom {
  height: 30%;
}

header {
  padding: 3em 3em 1.75em 2.25em;
}

footer {
  padding: 3em 3em 1.75em 2.25em;
}

li, a {
  font-size: small;
  color: #aaa;
  border: 0;
}

li, a:hover {
  font-size: small;
  color: #aaaa;
  border: 0;
}

.title {
  font-weight: bold;
}

.subtitle {
  color: #aaa;
}

.input-field {
  text-align: right;
}

.side-left {
  padding: 2em 3em 0.5em 3em;
}

@media only screen and (max-width: 1920px) {
  .center {
    width: 60%;
  }
  
  header {
    padding: 3em 0 1.75em 4.5em;
  }
}

@media only screen and (max-width: 1366px) {
}
@media only screen and (max-width: 1082px) {
}
@media only screen and (max-width: 973px) {
}
@media only screen and (max-width: 870px) {
  .title, .subtitle {
    font-size: medium;
    text-align: center;
  }
}
@media only screen and (max-width: 766px) {
  .side-left{
    height: 100% !important;
  }
  .side-right{
    height: 100% !important;
  }
}
@media only screen and (max-width: 615px) {

}
@media only screen and (max-width: 438px) {

}
@media only screen and (max-width: 414px) {

} 


  /* The hero image
.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));

  height: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
} 

@-webkit-keyframes border-widthc {
  0% {
    width: 0%; }
  100% {
    width: 100%; } }
@keyframes border-widthc {
  0% {
    width: 0%; }
  100% {
    width: 100%; } }
@-webkit-keyframes border-heightc {
  0% {
    height: 0%; }
  100% {
    height: 100%; } }
@keyframes border-heightc {
  0% {
    height: 0%; }
  100% {
    height: 100%; } }
@-webkit-keyframes kenburn {
  0% {
    -webkit-transform: scale(1);
    -webkit-animation-timing-function: ease-in; }
  25% {
    -webkit-transform: scale(1.3) rotate(3deg);
    -webkit-animation-timing-function: ease-out; }
  50% {
    -webkit-transform: scale(1.4) rotate(66deg); }
  100% {
    -webkit-transform: scale(1); } }
@-moz-keyframes kenburn {
  0% {
    -moz-transform: scale(1);
    -moz-animation-timing-function: ease-in; }
  25% {
    -moz-transform: scale(1.1) rotate(3deg);
    -moz-animation-timing-function: ease-out; }
  50% {
    -moz-transform: scale(1.4) rotate(66deg); }
  100% {
    -moz-transform: scale(1); } }
@-o-keyframes kenburn {
  0% {
    -o-transform: scale(1);
    -o-animation-timing-function: ease-in; }
  25% {
    -o-transform: scale(1.1) rotate(3deg);
    -o-animation-timing-function: ease-out; }
  50% {
    -o-transform: scale(1.4) rotate(66deg); }
  100% {
    -o-transform: scale(1); } }
@keyframes kenburn {
  0% {
    transform: scale(1);
    animation-timing-function: ease-in; }
  25% {
    transform: scale(1.1) rotate(3deg);
    animation-timing-function: ease-out; }
  50% {
    transform: scale(1.3) rotate(6deg); }
  100% {
    transform: scale(1); } }


.side-left {
  background: #000;
  padding-top: 11%; }
  .side-left .small-hr {
    margin-top: 17px;
    margin-bottom: 25px; }
  .side-left p {
    padding-bottom: 25px; }
  .side-left .content-wrap {
    height: 100%; } 

.call-to-action {
  display: block;
  height: 41px;
  width: 41px; }
  .call-to-action:hover .left, .call-to-action:hover .right {
    -webkit-animation-name: border-heightc;
    animation-name: border-heightc;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    animation-delay: 0;
    -webkit-animation-delay: 0;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out; }
  .call-to-action:hover .top, .call-to-action:hover .bottom {
    -webkit-animation-name: border-widthc;
    animation-name: border-widthc;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    animation-delay: 0;
    -webkit-animation-delay: 0;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out; }
  .call-to-action i {
    left: 0;
    right: 0;
    position: absolute;
    top: 50%;
    text-align: center;
    margin: 0 auto;
    font-size: 15px;
    transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%); }
  .call-to-action span {
    background: #fff;
    position: absolute;
    display: block; }
  .call-to-action .top {
    height: 3px;
    left: 0;
    top: 0;
    width: 100%; }
  .call-to-action .bottom {
    height: 3px;
    bottom: 0;
    right: 0;
    width: 100%; }
  .call-to-action .left {
    height: 100%;
    left: 0;
    width: 3px;
    bottom: 0; }
  .call-to-action .right {
    width: 3px;
    right: 0;
    height: 100%;
    top: 0;
  }

.about {
  left: 29px;
  top: 29px; }

.fa {
  color: #fff;
  -webkit-appearance: none;
  -webkit-backface-visibility: hidden; }

.opacity-hide {
  opacity: 0;
  visibility: hidden; }

.align-center {
  overflow: hidden;
  clear: both;
  float: none;
  margin: 0 auto; }

.preloader {
  background: #000; }

.small-hr {
  background: #fff none repeat scroll 0 0;
  display: block;
  height: 4px;
  width: 32px; }

.type-wrap {
  min-height: 120px;
  padding-bottom: 40px; }

.notify-btn {
  padding-top: 50px;
  padding-bottom: 10px; }

.main-menu .call-to-action {
  position: relative; }

.btn {
  font-size: 16px;
  color: #000;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-color: #fff;
  border-radius: 0;
  height: 57px;
  width: 203px;
  background: #fff; }
  .btn:hover, .btn:focus, .btn:active {
    background: #fff;
    color: #000;
    border-color: #fff;
    outline: none; }
    .btn:hover .arrow:after, .btn:focus .arrow:after, .btn:active .arrow:after {
      width: 20px; }
  .btn .button-label {
    padding: 10px 10px 10px 8px; }
  .btn .arrow-wrap {
    padding: 15px;
    padding-right: 10px; }
  .btn .arrow {
    padding-left: 0;
    margin-left: 29px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 0 6px 12px;
    border-color: transparent transparent transparent #000; }
    .btn .arrow:after {
      backface-visibility: hidden;
      background: #000 none repeat scroll 0 0;
      content: "";
      height: 3px;
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translate(0px, -50%);
      -webkit-transform: translate(0px, -50%);
      transition: width 0.3s ease 0.3s;
      -webkit-transition: width 0.3s ease 0.3s;
      width: 15px; }
  .btn span {
    display: inline-block;
    float: left;
    position: relative;
    padding-left: 4px; }
    .btn span svg {
      fill: #fff; }

.btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default.focus:active, .btn-default:active:focus, .btn-default:active:hover, .open > .dropdown-toggle.btn-default.focus, .open > .dropdown-toggle.btn-default:focus, .open > .dropdown-toggle.btn-default:hover {
  background: #fff;
  border-color: #fff;
  color: #000;
  outline: none; }

.close-notify {
  display: block;
  font-weight: 300;
  margin-bottom: 30px;
  margin-top: 22px;
  width: 41px; }
  .close-notify:hover, .close-notify:focus, .close-notify:active {
    color: #fff; }

.black {
  color: #fff; }

.copyright {
  bottom: 25px;
  left: 15px;
  position: absolute; }
  .copyright i {
    line-height: 25px; }
  .copyright p, .copyright .address-detail a, .address-detail .copyright a {
    font-size: 12px;
    display: inline-block;
    float: left; }
  .copyright .social-icon {
    color: #fff;
    cursor: pointer;
    display: block;
    float: left;
    text-align: center !important;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease; }
    .copyright .social-icon i {
      -moz-transition: all 0.4s ease;
      -o-transition: all 0.4s ease;
      -webkit-transition: all 0.4s ease;
      transition: all 0.4s ease; }
    .copyright .social-icon:hover i.fa-facebook {
      color: #3B5998; }
    .copyright .social-icon:hover i.fa-twitter {
      color: #00aced; }
    .copyright .social-icon:hover i.fa-linkedin {
      color: #007bb6; }
    .copyright .social-icon:hover i.fa-behance {
      color: #1769ff; }
  .copyright .social-icons > li {
    display: inline-block;
    float: left;
    padding-right: 15px; }
  .copyright a.social-icon {
    height: 20px;
    line-height: 12px !important;
    overflow: hidden;
    text-shadow: none;
    width: 20px;
    display: inline-block;
    float: left;
    color: #fff; }
  .copyright .social-icons {
    float: left; }

.side-right {
  color: #fff;
  right: 0;
  overflow: hidden; }
  .side-right .background-kenburn {
    background-size: cover !important;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: -3; }
  .side-right #countdown {
    padding-top: 28px; }
  .side-right .counter-content {
    padding-top: 25%; }
  .side-right #countdown span,
  .side-right #countdown li.seperator {
    color: #fff;
    line-height: 97px; }
  .side-right .trans-overlay-dark {
    background: #000;
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    left: 0;
    z-index: -2; }

.contact {
  right: 29px;
  top: 29px; }

p.tagline {
  font-size: 30px;
  font-weight: 600;
  line-height: 45px;
  letter-spacing: -1px; }

.remain-days {
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  display: block;
  padding-top: 10px; }

.trans-overlay-dark {
  background: #000;
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 1; }

html, body, 
.container {
	position: relative;
	height: 100%;
}

body {
	overflow-y: scroll;
	background: #333;
}

.splitlayout {
	position: relative;
	overflow-x: hidden;
	min-height: 100%;
	width: 100%;
}

.side {
	position: fixed!important;
	top: 0;
	z-index: 100;
	width: 50%;
	height: 100%;
	text-align: center;
	-webkit-backface-visibility: hidden;
}

.side-left {
	left: 0;
	background: #000000;
	color: #fff;
}

.side-right {
	right: 0;
	background: #fff;
	color: #47a3da;
}

.back {
	position: fixed;
	top: 50%;
	z-index: 500;
	display: block;
	visibility: hidden;
	text-align: center;
	opacity: 0;
	pointer-events: none;
	-webbkit-transform:translate(0, -50%);
	transform:translate(0, -50%);
}

.back:hover {
	color: #ddd;
}

.side,
.page {
	-webkit-transition: -webkit-transform 0.5s ease-in-out;
	transition: transform 0.5s ease-in-out;
}

.overlay {
	-webkit-transition: opacity 0.5s ease-in-out, visibility 0.1s 0.5s ease-in-out;
	transition: opacity 0.5s ease-in-out, visibility 0.1s 0.5s ease-in-out;
}

.main {
	-webkit-transition: all 0.5s ease 0s;
	transition: all 0.5s ease 0s;
}

.main h1,
.back {
	-webkit-transition: opacity 0.3s ease-in-out;
	transition: opacity 0.3s ease-in-out;
}

.main .section {
    height: 0;
    visibility: hidden;
    width: 100%;
	position:relative;
}

.main .section.active {
    height: 100%;
	visibility: visible
}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

.notify-wrap i {
  display: none; }
.notify-wrap #message {
  padding-left: 0;
  padding-top: 15px;
  color: #fff; }
.notify-wrap .btn {
  padding: 0;
  margin-top: 25px;
  width: 57px; }
  .notify-wrap .btn .arrow {
    margin-left: 8px; }
.notify-wrap .notify-input-box {
  border: none;
  min-height: 50px;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  padding-left: 0;
  border-radius: 0;
  box-shadow: none; }
  .notify-wrap .notify-input-box:hover, .notify-wrap .notify-input-box:focus, .notify-wrap .notify-input-box:active {
    border: none;
    box-shadow: none; }
.notify-wrap #notifyMe {
  width: 441px; }
.notify-wrap .input__label--hoshi::before,
.notify-wrap .input__label--hoshi::after {
  border-bottom: 4px solid #fff; }
.notify-wrap .input__label--hoshi::after {
  border-bottom: 8px solid #fff; }

.form-control::-webkit-input-placeholder {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase; }
.form-control:-moz-placeholder {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase; }
.form-control::-moz-placeholder {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase; }
.form-control:-ms-input-placeholder {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase; }

.input-wrap {
  position: relative;
  overflow: hidden; }

  .input__field {
    position: relative;
    display: block;
    width: 60%;
    border: none;
    border-radius: 0;
    background: #f0f0f0;
    color: #aaa;
    -webkit-appearance: none;
  }
  
  .input__field:focus {
    outline: none;
  }
  
  .input__label {
    display: inline-block;
    width: 40%;
    -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .input--hoshi {
    overflow: hidden;
  }
  
  .input__field--hoshi {
    width: 100%;
    background: transparent;
    color: #595F6E;
  }
  
  .input__label--hoshi {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 1em);
    text-align: left;
    pointer-events: none;
  }
  
  .input__label-content--hoshi {
    position: absolute;
  }
  
  .input__label--hoshi::before,
  .input__label--hoshi::after {
    content: '';
    position: absolute;
    top: 0;
    left: -1px;
    width: 100%;
    height:100%;
    border-bottom: 4px solid #000;
  }
  
  .input__label--hoshi::after {
    margin-top: 2px;
    border-bottom: 10px solid #000;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
  }
  
  .input__label--hoshi-color-1::after {
    border-color: rgb(0, 0, 0);
  }
  
  .input__label--hoshi-color-2::after {
    border-color: hsl(160, 100%, 50%);
  }
  
  .input__label--hoshi-color-3::after {
    border-color: hsl(20, 100%, 50%);
  }
  
  .input__field--hoshi:focus + .input__label--hoshi::after,
  .input--filled .input__label--hoshi::after {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  
  .input__field--hoshi:focus + .input__label--hoshi .input__label-content--hoshi,
  .input--filled .input__label-content--hoshi {
    -webkit-animation: anim-1 0.3s forwards;
    animation: anim-1 0.3s forwards;
  }
  
  @-webkit-keyframes anim-1 {
    50% {
      opacity: 0;
      -webkit-transform: translate3d(1em, 0, 0);
      transform: translate3d(1em, 0, 0);
    }
    51% {
      opacity: 0;
      -webkit-transform: translate3d(-1em, -40%, 0);
      transform: translate3d(-1em, -40%, 0);
    }
    100% {
      opacity: 1;
      -webkit-transform: translate3d(0, -40%, 0);
      transform: translate3d(0, -40%, 0);
    }
  }
  
  @keyframes anim-1 {
    50% {
      opacity: 0;
      -webkit-transform: translate3d(1em, 0, 0);
      transform: translate3d(1em, 0, 0);
    }
    51% {
      opacity: 0;
      -webkit-transform: translate3d(-1em, -40%, 0);
      transform: translate3d(-1em, -40%, 0);
    }
    100% {
      opacity: 1;
      -webkit-transform: translate3d(0, -40%, 0);
      transform: translate3d(0, -40%, 0);
    }
  }
  

@media only screen and (max-width: 1710px) {
  h1, h3, .side-right #countdown span,
  .side-right #countdown li.seperator {
    font-size: 65px; } }
@media only screen and (max-width: 1530px) {
  h1, h3, .side-right #countdown span,
  .side-right #countdown li.seperator {
    font-size: 50px; }

  h3 {
    font-size: 35px; }

  .detail-info {
    padding-top: 8%; }

  .side-right #countdown span, .side-right #countdown li.seperator {
    line-height: 59px; }

  .btn {
    font-size: 12px;
    height: 40px;
    width: 143px; }
    .btn .button-label {
      padding: 5px 12px 5px 5px; }
    .btn .arrow-wrap {
      padding: 9px 6px 6px; }
    .btn .arrow {
      border-width: 5px 0 5px 10px;
      margin-left: 8px; }
      .btn .arrow:after {
        height: 2px;
        right: 7px; } }
@media only screen and (max-width: 1366px) {
  .btn .arrow-wrap {
    padding: 8px 6px 6px; }
  .btn .button-label {
    padding: 5px 10px 5px 5px; }

  p.tagline {
    font-size: 25px; }

  .notify-btn {
    padding-top: 0; } }
@media only screen and (max-width: 1082px) {
  h1, h3, .side-right #countdown span,
  .side-right #countdown li.seperator {
    font-size: 40px; }

  h3 {
    font-size: 30px; }

  p.tagline {
    font-size: 20px;
    line-height: 35px; }

  .side-right #countdown {
    padding-top: 8px; }
  .side-right .counter-content {
    padding-top: 41%; }

  .close-notify {
    width: 30px; }

  .call-to-action {
    height: 30px;
    width: 30px; }
    .call-to-action i {
      font-size: 13px; }

  .logo img {
    width: 50px; } }
@media only screen and (max-width: 973px) {
  .copyright .social-icons {
    padding-bottom: 12px; } }
@media only screen and (max-width: 870px) {
  h1, h3, .side-right #countdown span,
  .side-right #countdown li.seperator {
    font-size: 30px; }

  h3 {
    font-size: 30px; }

  p.tagline {
    font-size: 18px;
    line-height: 30px; }

  .copyright p {
    font-size: 12px; } }
@media only screen and (max-width: 766px) {
  h1, h3, .side-right #countdown span,
  .side-right #countdown li.seperator {
    font-size: 50px; }

  h3 {
    font-size: 30px; }

  .side {
    position: relative !important;
    width: 100%; }
    .side.side-right .counter-content {
      padding-bottom: 80px;
      padding-top: 80px; }
    .side.side-left {
      padding-top: 80px;
      padding-bottom: 47px; }
      .side.side-left .copyright {
        display: none; }

  .logo img {
    width: auto; }

  .copyright {
    position: static; }

  .about, .contact {
    display: none; }

  .reset-layout .page,
  .splitlayout.open-right .page-left,
  .splitlayout.open-left .page-right,
  .splitlayout.close-right .page-left,
  .splitlayout.close-left .page-right {
    position: static; } }
@media only screen and (max-width: 615px) {
  .col-xs-11.pad-left-zero {
    padding-left: 15px; } }
@media only screen and (max-width: 438px) {
  .col-xs-11.pad-left-zero {
    padding-left: 0;
    width: 100%; } }
@media only screen and (max-width: 414px) {
  h1, h3, .side-right #countdown span,
  .side-right #countdown li.seperator {
    font-size: 35px; } } */