<div class="container-fluid p-0">
        <mat-sidenav-container style="display:unset; position: unset;">
            <mat-sidenav [opened]="openSidenav" #sidenav position="end" mode="side">
                <div class="side-left text-right" >
                    <div style="height: 80%;">
                        <button style="right: 80%;" mat-icon-button (click)="sidenav.toggle()" class ='d-md-none d-sm-block' [ngClass]="showToggle">
                            <fa-icon [icon]="faTimes"></fa-icon>
                        </button>
                        <header>
                            <h3 class="title">GOT Weather</h3>
                            <p class="subtitle">Just a simple weather search, powered by Game of Thrones</p>
                        </header>
                        <div class="center">
                            <mat-form-field class="input-field d-block">
                                <mat-label>City</mat-label>
                                <input matInput class="form-control" [(ngModel)]="city" name="city">
                            </mat-form-field>
                            <mat-form-field class="input-field d-block">
                                <mat-label>Country Code</mat-label>
                                <input matInput class="form-control" [(ngModel)]="countryCode" name="countryCode">
                            </mat-form-field>
                            <button mat-raised-button color="primary" (click)="send(sidenav)" class="btn btn-default btn-block">Search</button>
                        </div>
                    </div>
                    <div class="footer" style="height: 20%;">
                        <footer class="" style="display: inline-flex; padding-right: 0;">
                            <ul class="list-group list-group-horizontal text-right">
                                <li class="list-group-item"><a href="https://twitter.com/CocoonProfesor">Twitter</a></li>
                                <li class="list-group-item"><a href="https://github.com/nicolascomaschi">GitHub</a></li>
                                <li class="list-group-item"><a href="https://www.instagram.com/nicolas_comaschi">Instagram</a></li>
                            </ul>
                        </footer>
                    </div>
                </div>
            </mat-sidenav>
            <mat-sidenav-content>
                <div class="side-right p-0" >
                    <div class="image-right" style="background: transparent url({{img}}); ">
                        <button style="z-index: 1; color: white;" mat-icon-button (click)="sidenav.toggle()" class ='d-md-none d-sm-block' [ngClass]="showToggle">
                            <fa-icon [icon]="faBars"></fa-icon>
                        </button>
                        
                    </div>
                    <div *ngIf="weather" style="width: 100%; height: 100%; color: white;" class="center">
                        <div class="container">
                            <div class="row">
                              <div class="col-12 pt-5" style="height: 20%;">
                                <p style="font-size: 1em;"> Wow.</p>
                                <h3 class="description-text">{{ weather.main.temp }}° C</h3>
                              </div>
                              <div class="col-12 pt-5 text-center" style="height: 50%;">
                                <p style="font-size: 2em;"> It's like </p>
                                <span class="location-text">{{location}}</span>
                                <p style="font-size: 2em;"> out there </p>
                              </div>
                              <div class="col-12 pt-5 text-right" style="height: 30%;">
                                <p class="description-text"> {{ weather.weather[0].description }} </p>
                                <p style="font-size: 1em;">Humidity: {{ weather.main.humidity }}. Max: {{ weather.main.temp_max }}.
                                    Min: {{ weather.main.temp_min }}</p>
                              </div>
                            </div>
                          </div>
                    </div>
                    <div *ngIf="errors" style="width: 100%; height: 100%; color: white;" class="center">
                        <div class="container">
                            <div class="row">
                              <div class="col-12 pt-5" style="height: 20%;">
                                <h3 style="font-size: 2em;">Sorry but I don't know that city</h3>
                              </div>
                              <div class="col-12 pt-5 text-center" style="height: 50%;">
                                <p style="font-size: 2em;"> It's probably like </p>
                                <span style="font-size: 5em; font-family: 'Lobster', cursive;">Ulthos</span>
                                <p style="font-size: 2em;"> out there </p>
                              </div>
                              <div class="col-12 pt-5 text-right" style="height: 30%;">
                                <p style="font-size: 2em;"> Unknown </p>
                              </div>
                            </div>
                          </div>
                    </div>
                </div>
              </mat-sidenav-content>
        </mat-sidenav-container>
  </div>