/* * {
  border: 1px solid black;
} */

.image-right{
  background-size: cover !important; 
  background-position: center !important;
  max-width: 100%; 
}

.image-right:before {
	content:'';
	position: absolute;
  top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.4);
}

.center{
  position: absolute;
  height: auto;
  top: 50%;
  left: 80%;
  transform: translate(-80%, -50%);
}

.div-center {
  height: 50%;
}

.div-top {
  height: 20%;
}

.div-bottom {
  height: 30%;
}

header {
  padding: 3em 3em 1.75em 2.25em;
}

footer {
  padding: 3em 3em 1.75em 2.25em;
}

li, a {
  font-size: small;
  color: #aaa;
  border: 0;
}

li, a:hover {
  font-size: small;
  color: #aaaa;
  border: 0;
}

.title {
  font-weight: bold;
}

.subtitle {
  color: #aaa;
}

.input-field {
  text-align: right;
}

.side-left {
  padding: 2em 3em 0.5em 3em;
}

.location-text {
  font-size: 5em; 
  font-family: 'Lobster', cursive;
}

.description-text {
  font-size: 2em;
}

@media only screen and (max-width: 1920px) {
  .center {
    width: 60%;
  }
  
  header {
    padding: 3em 0 1.75em 4.5em;
  }
}

@media only screen and (max-width: 1366px) {
}
@media only screen and (max-width: 1082px) {
}
@media only screen and (max-width: 973px) {
}
@media only screen and (max-width: 870px) {
  .title, .subtitle {
    font-size: medium;
  }


}
@media only screen and (max-width: 766px) {
  .side-left{
    height: 100% !important;
  }
  .side-right{
    height: 100% !important;
  }

  .location-text {
    font-size: 3em;
    font-stretch: condensed; 
    font-family: 'Lobster', cursive;
    padding: 0;
  }

  .description-text {
    font-size: 1.5em;
    font-stretch: condensed; 
    padding: 0;
  }

  header {
    padding: 0.5em 0 0 4.5em;
  }
}
@media only screen and (max-width: 615px) {

}
@media only screen and (max-width: 438px) {

}
@media only screen and (max-height: 500px) {
  .title, .subtitle {
    display: none;
  }
} 